/*
  Global App CSS
  ----------------------
  Use this file for styles that should be applied to all components.
  For example, "font-family" within the "body" selector is a CSS property
  most apps will want applied to all components.

  Any global CSS variables should also be applied here.
*/

body {
  margin: 0px;
  padding: 0px;
  background-color: #020024;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
}

@media only screen and (min-width: 768px) {
  body {
    max-width: 700px;
    margin: auto;
  }
}
button {
  outline: none;
}
