header {
  z-index: 2;
  color: white;
  height: $header-height;
  display: flex;
  align-items: center;
  position: fixed;
  border-bottom-right-radius: 20px;

  transition-property: width;
  transition: width 0.1s;

  @include glass-ui();

  width: 155px;
  @include desktop() {
    width: 170px;
  }
  &.search-active {
    width: 100%;
  }

  .search-bar {
    display: flex;
    align-items: center;
    button {
      background: transparent;
      border: 0;
      color: white;
      font-size: 1.5em;
      padding: 10px 18px;
    }

    form {
      &.hide {
        display: none;
      }
      flex: 1;
      input {
        padding: 0 10px;
        width: 100%;
        background: transparent;
        border: 0;
        color: white;
        font-size: 1.5em;
        &:focus {
          outline: none;
        }
      }
    }
  }

  &.search-active {
    .search-bar {
      width: 100%;
    }
  }
}

h1 {
  @include ellipsis();
  font-weight: 500;
  color: #fff;
  padding: 0 12px;
  font-family: "Rancho";
  font-size: 2rem;
  margin: 0;
}

.suggestions {
  padding-top: $header-height;
  border: 1px solid;
  color: white;
  position: absolute;
  z-index: 1;
  margin: 0;
  width: 100%;
  border: 0;
  list-style-type: none;
  li {
    font-size: 1.2rem;
    padding-top: 15px;
    @include ellipsis();
    width: calc(100% - 50px);
  }
}
