header {
  @include header();
  display: flex;
  align-items: center;
  position: fixed;
  border-bottom-right-radius: 20px;

  transition-property: width;
  transition: width 0.1s;

  width: 155px;
  @include desktop() {
    width: 170px;
    max-width: $max-width;
  }
  &.search-active {
    width: 100%;
  }

  .search-bar {
    display: flex;
    align-items: center;
    button {
      background: transparent;
      border: 0;
      color: white;
      font-size: 1.5em;
      padding: 10px 18px;
    }

    form {
      &.hide {
        display: none;
      }
      flex: 1;
      input {
        padding: 0 10px;
        width: 100%;
        background: transparent;
        border: 0;
        color: white;
        font-size: 1.5em;
        &:focus {
          outline: none;
        }
      }
    }
  }

  &.search-active {
    .search-bar {
      width: 100%;
    }
  }
}

h1 {
  @include ellipsis();
  font-weight: 500;
  color: #fff;
  padding: 0 12px;
  font-family: "Rancho";
  font-size: 2rem;
  margin: 0;
}
.suggestions-container {
  padding-top: $header-height;
  width: 100%;
  @include desktop() {
    max-width: $max-width;
  }
  position: fixed;

  z-index: 1;
  .suggestions {
    border: 1px solid;
    color: white;
    margin: 0;
    width: 100%;
    border: 0;
    list-style-type: none;
    li {
      font-size: 1.2rem;
      padding-top: 15px;
      @include ellipsis();
      width: calc(100% - 50px);
    }
    box-sizing: border-box;
  }
  .error {
    padding: 20px;
  }
  .loading {
    min-height: 100px;
    display: grid;
    place-items: center;
    font-size: 1.5em;
  }
}

ul.trending {
  &.suggestions-active {
    filter: blur(45px);
  }
}
ul.trending {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.card {
  position: relative;
  margin-bottom: 50px;
  .thumbnail {
    border-radius: 15px;
    width: 100%;
    aspect-ratio: 16 / 9;
    @include loading();
  }
  .video-desc {
    box-shadow: 0px 0px 21px 12px rgba(2, 0, 36, 1);
    width: 100%;
    position: absolute;
    background: $primary-color;
    bottom: -37px;
    display: flex;
    height: 50px;
    align-items: center;
    .uploader-avatar {
      @include uploader-avatar();
    }
    span {
      width: 100px;
      flex: 1;
      display: block;
    }
    h3 {
      margin: 0;
      font-size: 1rem;
      margin-bottom: 2px;
      @include ellipsis();
    }
    p {
      margin: 0;
      font-size: 0.9rem;
      @include ellipsis();
    }
  }
}
