header {
  z-index: 2;
  background: #5851ff;
  color: white;
  height: $header-height;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  position: fixed;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 1px 12px 5px rgba(2, 0, 36, 1);
  background: rgb(2, 0, 36);
  background: linear-gradient(171deg, rgba(2, 0, 36, 1) 15%, rgba(255, 255, 255, 0) 100%);
  transition-property: width;
  transition: width 0.1s;
  width: calc(100% - 60px);
  &.search-active {
    width: 100%;
  }

  .search-bar {
    display: flex;
    align-items: center;
    button {
      background: transparent;
      border: 0;
      color: white;
      font-size: 1.5em;
      padding: 10px;
    }

    form {
      &.hide {
        display: none;
      }
      flex: 1;
      input {
        padding: 0 10px;
        width: 100%;
        background: transparent;
        border: 0;
        color: white;
        font-size: 1.5em;
        &:focus {
          outline: none;
        }
      }
    }
  }

  &.search-active {
    .search-bar {
      width: 100%;
    }
  }
}

h1 {
  @include ellipsis();
  font-weight: 500;
  color: #fff;
  padding: 0 12px;
  font-family: "Rancho";
  font-size: 2rem;
  margin: 0;
}

.suggestions {
  padding-top: $header-height;
  border: 1px solid;
  color: white;
  position: absolute;
  z-index: 1;
  margin: 0;
  width: 100%;
  border: 0;
  list-style-type: none;
  li {
    font-size: 1.2rem;
    padding-top: 15px;
    @include ellipsis();
    width: calc(100% - 50px);
  }
}
