.video-page {
  height: 100vh;
  display: flex;
  flex-direction: column;

  header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: static;
    h1 {
      height: 100%;
      display: grid;
      place-items: center;
      cursor: pointer;
    }
  }
}

h3 {
  margin: 16px;
  margin-bottom: 2px;
  font-size: 1.1rem;
}

.actions {
  display: flex;
  justify-content: space-evenly;
}
.video-info {
  margin-left: 16px;
  font-size: 0.8rem;
}

.uploader-info {
  margin: 10px 0;
  margin-left: 6px;
  display: grid;
  grid-template-columns: 50px max-content max-content;
  align-items: center;
  .info {
    display: flex;
    align-items: baseline;
  }
  img {
    @include uploader-avatar(30px);
  }
  h3,
  h4 {
    margin: 0;
  }
  h3 {
    font-size: 0.9rem;
  }
  h4 {
    font-size: 0.8rem;
    padding-left: 10px;
  }
}

.share-form {
  .share-actions {
    display: flex;
    justify-content: space-evenly;
  }
}

video-player {
  .container {
    max-height: 80vh;
  }
}

@include desktop() {
  .suggestion-header {
    display: none;
  }
}

.view-comments {
  margin: auto;
  margin-top: 16px;
}
@include desktop() {
  .view-comments {
    display: none;
  }
}

.below-video {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
comments-view {
  @include desktop() {
    display: none;
  }
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: $z-index-overlay;
}
