.video-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  h3 {
    margin: 16px;
  }
}

.error-template {
  padding: 16px;
  text-align: center;
  .action-btns {
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
  }
}

h3 {
  margin: 16px 0;
  font-size: 1.1rem;
}

.actions {
  display: flex;
  justify-content: space-evenly;
}
.video-info {
  margin-left: 16px;
  font-size: 0.8rem;
}

.uploader-info {
  margin: 10px 0;
  margin-left: 6px;
  display: grid;
  grid-template-columns: 50px max-content max-content;
  align-items: center;
  .info {
    display: flex;
    align-items: baseline;
    > x-icon {
      font-size: 0.9rem;
      margin-left: 2px;
    }
  }
  img {
    @include uploader-avatar(30px);
  }
  h3,
  h4 {
    margin: 0;
  }
  h3 {
    font-size: 0.9rem;
  }
  h4 {
    font-size: 0.8rem;
    padding-left: 10px;
  }
}

.share-form {
  .share-actions {
    display: flex;
    justify-content: space-evenly;
  }
}

video-player {
  .container {
    max-height: 80vh;
  }
}

@include desktop() {
  .suggestion-header {
    display: none;
  }
}

.view-comments {
  margin: auto;
  margin-top: 16px;
}
@include desktop() {
  .view-comments {
    display: none;
  }
}

.below-video {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  @include desktop() {
    overflow-y: initial;
  }
}
comments-view {
  @include desktop() {
    display: none;
  }
  position: absolute;
  width: 100%;
  height: -webkit-fill-available;
  z-index: $z-index-overlay;

  &.hide {
    visibility: hidden;
  }
}
