@import "../li-server-instance/utils.scss";

:host {
  display: block;
}

.server-instances {
  height: calc(100vh - $header-height);
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  li ~ li {
    padding-top: 10px;
  }
  .head {
    padding-left: 40px;
    @include row();
    margin-bottom: 0;
  }

  ul {
    overflow-y: auto;
    flex: 1;
  }
}
