:host {
  display: block;
}

.loading-page {
  z-index: $z-index-loader;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  font-size: 4rem;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
