:host {
  display: block;
}

.error-page {
  position: relative;
  position: fixed;
  height: 200px;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  max-width: 500px;
  background: blueviolet;
  border-radius: 12px;
  z-index: $z-index-error;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2rem;
    border: 0;
    background: transparent;
    color: white;
  }
}
