:host {
  display: block;
}
button {
  background: transparent;
  border: 0;
  color: white;
}
x-icon {
  font-size: 1.5rem;
}

label {
  display: grid;
  place-items: center;
  span {
    padding-top: 3px;
    font-size: 0.8rem;
  }
  &.small {
    display: flex;
    x-icon {
      font-size: 1rem;
    }
  }
}
